/* style.css */

/* Importar Fredoka One desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Aplicar Fredoka One como fuente */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  background-color: #fbce01;
}



h1 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color: #0083d0;
}
h2{
  font-family: 'Fredoka One', cursive;
  color: #e61407;
}

.rojo{
  color: #e61407;
}

button {
  display: block;
  margin: 10px auto;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

#show-infantil-section,
#baby-shower-section {
  margin-top: 20px;
}

#show-grande-tipo,
#animadores-container-infantil,
#bailarinas-container-infantil-select,
#bailarinas-container-infantil,
#munecos-container-infantil-select,
#munecos-container-infantil,
#animadores-container-baby {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

#texto-generado {
  width: 100%;
  height: 150px;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #0083d0;
  border: 2px solid #1b618a ;
  font-family: 'Fredoka One', cursive;
}

